<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642728101123-8j74rq7lvbm20ok30f7j1us977sdo93n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642728101123-8j74rq7lvbm20ok30f7j1us977sdo93n</string>
	<key>API_KEY</key>
	<string>AIzaSyAOZycZsH9O3EPPEGK_80-vxB2cLVDtTqE</string>
	<key>GCM_SENDER_ID</key>
	<string>642728101123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terateck.games.savyminds</string>
	<key>PROJECT_ID</key>
	<string>savyminds-c4f53</string>
	<key>STORAGE_BUCKET</key>
	<string>savyminds-c4f53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642728101123:ios:3a1b64a1b80c7a11a65536</string>
</dict>
</plist>